/* Styling for the sidebar */
#sidebar-wrapper {
    margin-left: -250px;
}

#wrapper.toggled #sidebar-wrapper {

    width: 250px;
    min-height: 100vh;
    transition: margin 0.3s ease-in-out;
}

#page-content-wrapper {
    width: 100%;
    min-width: 0;
    transition: margin 0.3s ease-in-out;
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 0;
}

/* Ensure buttons in the navbar are properly spaced */
.navbar .btn {
    margin-right: 10px;
}

.navbar .d-flex:last-child {
    padding-right: 20px;
    /* or margin-right: 20px; */
}