/* styles.css or app.component.css */
#wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar-wrapper {
  margin-left: 0; 
  width: 300px;
  min-height: 100vh;
  transition: margin 0.25s ease;
}

#wrapper.toggled #sidebar-wrapper {
  /* Show sidebar */
  margin-left: -300px; 
  transition: margin 0.25s ease;
}

#page-content-wrapper {
  width: 100%;
  transition: margin 0.25s ease;
}

#menu-toggle {
  transition: transform 0.25s ease;
}

.list-group-item i {
  margin-right: 8px;
}

#sidebar-wrapper .list-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  //justify-content: center;
}

.sidebar-heading img {
  width: 30px;
  height: 30px;
}

.sidebar-heading span {
  font-weight: bold;
  margin-left: 2px;
}

/* Styling for the navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-weight: bold;
}

#menu-toggle {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-right: 20px;
}