<!-- app.component.html -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark text-white border-right d-flex flex-column" id="sidebar-wrapper">
    <div class="sidebar-heading d-flex align-items-center p-3">
      <img src="assets/logo/logo.svg" alt="Omnifai Logo" class="mr-2" style="width: 75px; height: 75px;">
      <span>Omnifai</span>
    </div>
    <div class="list-group list-group-flush ">
      <a routerLink="/customers" class="list-group-item list-group-item-action bg-dark text-white" (click)="setPageTitle('Customer Management')">
        <i class="fas fa-users"></i> Customer Management
      </a>
      <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-dark text-white" (click)="setPageTitle('Dashboard')">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
      <a routerLink="/calls" class="list-group-item list-group-item-action bg-dark text-white" (click)="setPageTitle('Calls')">
        <i class="fas fa-phone"></i> Calls
      </a>
      <a routerLink="/agents" class="list-group-item list-group-item-action bg-dark text-white" (click)="setPageTitle('Agents')">
        <i class="fas fa-headset"></i> Agents
      </a>
      <a routerLink="/reports" class="list-group-item list-group-item-action bg-dark text-white" (click)="setPageTitle('Reports')">
        <i class="fas fa-chart-bar"></i> Reports
      </a>
      <a routerLink="/settings" class="list-group-item list-group-item-action bg-dark text-white" (click)="setPageTitle('Settings')">
        <i class="fas fa-cog"></i> Settings
      </a>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>