<!-- app.component.html -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark text-white border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Call Center App </div>
    <div class="list-group list-group-flush">
      <a routerLink="/customers" class="list-group-item list-group-item-action bg-dark text-white">Customer Management</a>
      <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
      <a routerLink="/calls" class="list-group-item list-group-item-action bg-dark text-white">Calls</a>
      <a routerLink="/agents" class="list-group-item list-group-item-action bg-dark text-white">Agents</a>
      <a routerLink="/reports" class="list-group-item list-group-item-action bg-dark text-white">Reports</a>
      <a routerLink="/settings" class="list-group-item list-group-item-action bg-dark text-white">Settings</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
      <a class="navbar-brand ml-4" href="#">Call Center App</a>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>